[phases.setup]
nixPkgs = ['php83', 'nodejs-22_x']

[phases.install]
cmds = [
    'composer install --no-dev --optimize-autoloader',
    'npm ci'
]

[phases.build]
cmds = [
    'npm run build',
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache'
]

[start]
cmd = 'cp public/build/.vite/manifest.json public/build/manifest.json && php artisan config:clear && php artisan view:clear && php artisan migrate --force && php artisan storage:link && php -S 0.0.0.0:$PORT -t public'